
/******************************/
/******************************/
/******************************/
/*********  COLORS   **********/
/******************************/
/******************************/
/******************************/
$colorHeader: #ffffff;
/******************************/
/******************************/
/******************************/
/*********  Margin & paddings */
/******************************/
/******************************/
/******************************/

$fontSizeHeader: 35px;
$padding-20px: 20px;

/******************************/
/******************************/
/******************************/
/*********Width & Height*/
/******************************/
/******************************/
/******************************/

$headerHeight : 110px;
$buttonheight : 40px;

/******************************/
/******************************/
/******************************/
/*********border***************/
/******************************/
/******************************/
/******************************/

$buttonradius : 10px;

